[user]
  name = Eddie Johnston
  email = eddie@beanstalk.ie
[push]
  default = simple
[alias]
  s = show
  l = log
  co = checkout
  cp = cherry-pick
  st = status
  br = branch
  cane = commit --amend --no-edit
  pfl = push --force-with-lease
  rebase = pull origin master --rebase
  poh = push -u origin HEAD
  pom = pull origin master
  dc = diff --cached
  logof = log --oneline --decorate
  logo = log --oneline --decorate master..
  touch = commit --amend --reset-author --no-edit
  bclean = "!f() { git branch --merged ${1-master} | grep -v " ${1-master}$" | xargs git branch -d; }; f"
  likeremote = "!f() { git fetch origin; git reset --hard @{u}; }; f"
  files = show --pretty="" --name-only
  sshow = "!f() { git stash show stash^{/$*} -p; }; f"
  sapply = "!f() { git stash apply stash^{/$*}; }; f"
  ca = commit --amend
[core]
  excludesfile = ~/.gitignore_global
[rebase]
  autosquash = true
